<div class="proj">
    <h3></h3>
    <div class="projbox">
        <div class="proj1">
            <p><span>Qualification:</span> B.Tech </p>
            <p><span>Name:</span> Pranveer Singh Institute of Technology, Kanpur</p>
            <p><span>Year:</span> 2018-22</p>
            <p><span>Branch:</span> Computer Science and Engineering </p>
            
            <p><span>CGPA:</span> 8.59 out of 10 </p>

        </div>
        
        <div class="proj1">
            <p><span>Standard:</span> 12th</p>
            <p><span>Name:</span> Gulmohar Public School, Kanpur</p>
            <p><span>Year:</span> 2016-17</p>
            <p><span>Board:</span> CBSE </p>
            <p><span>CGPA:</span>  78% </p>
        </div>

        <div class="proj1">
            <p><span>Standard:</span> 10th</p>
            <p><span>Name:</span> Maharishi Vidya Mandir, Hamirpur</p>
            <p><span>Year:</span> 2014-115</p>
            <p><span>Board:</span> CBSE </p>
            <p><span>CGPA:</span>  78% </p>
        </div>
    </div>
    
    
</div>