.header{
    background-color: white;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}

.left{
    
    margin-left: 0px;
}
.right{
    margin-right: 0px;
}
span{
    position: relative;
    top:auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight:bolder;
    color: rgb(18, 2, 88);
    height: 100%;
    
}
ul{
    padding-left: 0px;
}
li{
    display: inline-block;
    padding: 5px;
    list-style-type: none;
    text-decoration: solid;
    font-size: 20px;
    color: blueviolet;
    font-family: cursive;
}
.summary{
    font-size: 20px;
    color: blueviolet;
    text-decoration: wavy;
    font-family: cursive;
    
    width: 70%;
    
}


.right img {
    

    
    
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
@media (max-width:500px) {
    #box1{
        display: flex;
        flex-direction: column;
        align-items: normal;
        

    }


    #box-left{
        width: 100%;
        margin-left: 10px;
        
    }
    #box-image{
        margin-right: 0px;
        
    }

    
    
    
    #box-image img{
        
        object-fit: cover ;
        width: 100px;
        height: 250px;
        right: 50px;
        top: 300px;
        width: 100%;
        border-radius: 0px;
        margin-right: 5px;
        

    }
}