
<div class="header" id="box1">
    <div class="left" id="box-left">
        <p><span>Aditya Gupta</span></p>
        <ul>
            <li>Positve</li>
            <li>Passionate</li>
            <li>Perseverance</li>
        </ul>
        <p class="summary">
            Graduate looking for opportunity ,where I can utilize my skills and grow along with the organization.
        </p>
    
    </div>
    <div class="right" id="box-image">
        <img src="assets/image/DSC_11481.JPG" alt="My Image">
    </div>
</div>
