<div class="proj">
    <h3>Personal Projects</h3>
    <div class="projbox">
        <div class="proj1">
            <p><span>Name:</span> Community Application</p>
            <p><span>Role:</span> Front-end developer</p>
            <p><span>Summary:</span> It is like a social forum where anyone can deliberate their ideas. Created web pages for appplication. </p>
        </div>
        
        <div class="proj1">
            <p><span>Name:</span> Cybercriminal Activity Classification and attacking annonymity in Blockchain</p>
            <p><span>Role:</span> Back-end developer</p>
            <p><span>Summary:</span> Bitcoin is a technology that lets you send cryptocurrency
                to anyone. It also powers applications that everyone can
                use, and no one can take them down.
                Our project will identify malicious activities in the
                Bitcoin blockchain network. </p>
        </div>
    </div>
    
    
</div>
