<table class="table">
    <thead>
        <tr>
            <th scope="col">Platform</th>
            <th scope="col">Problem Solved(Approx.)</th>
            <th scope="col">Platform Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td >LeetCode</td>
            <td> 400+</td>
            <td><a href="https://leetcode.com/aditya7800/">Go to..</a></td>
        </tr>
        <tr>
            
            <td >HackerRank</td>
            <td> 197</td>
            <td><a href="https://www.stopstalk.com/user/profile/aditya7800">Go to..</a></td>
        </tr>
        <tr>
            
            <td >StopStalk</td>
            <td> 330+</td>
            <td><a href="https://www.stopstalk.com/user/profile/aditya7800">Go to..</a></td>
        </tr>
    </tbody>
</table>