<div class="skills">
    <div class="item">
        <img src="assets/image/lang2.jpg" alt="Languages- Java,Python,HTML,CSS,JS,MySQL">
    </div>
    <div class="item">
        <img src="assets/image/framework1.jpg" alt="Languages- Java,Python,HTML,CSS,JS,MySQL">
    </div>
    <div class="item2">
        <img src="assets/image/ds1.jpg" alt="Languages- Java,Python,HTML,CSS,JS,MySQL">
    </div>
    <div class="item">
        <img src="assets/image/tools1.jpg" alt="Languages- Java,Python,HTML,CSS,JS,MySQL">
    </div>
</div>